.conatiner-menu{

    background-color: black;}

    .dropdown-item, .nav-link {
        color: white;
        opacity: 100%;}

    .dropdown-item:hover, .nav-link:hover {
        color: white;
        opacity: 100%;
    }
        .dropdown-item:hover{
            background-color: #4c7889;}

            .dropdown-menu{
                background-color: #191a1bbe;
                opacity: 56%;}
